.cont{
    color: #FFF0D8;
}




.ContenerA{
    background: #000;
    width: 100px;
    height: 100px;
}

.imgIcono{
    
    width: 400px;
    height: 400px;
}
.imgIcono2{
    
    width: 700px;
    height: 450px;
}